.avisoUnitario{
    border: 1px #FF5733 solid;
    //border-radius: 5%;
    border-bottom-left-radius: 9%;
    border-bottom-right-radius: 9%;
    border-top-left-radius:9%;
    border-top-right-radius:9%;
    box-shadow: 0 0 0.5em grey;
}