.avisoUnitario{
    border: 1px #ebe0de solid;
    //border-radius: 5%;
    border-bottom-left-radius: 9%;
    border-bottom-right-radius: 9%;
    border-top-left-radius:9%;
    border-top-right-radius:9%;
    box-shadow: 0 0 0.5em rgba(75, 111, 230, 0.932);
    //background-color: #d3d3d3;
}