.avisosTitlte
{
    margin-top: -1vw;
    //background-color: yellow;
    font-family: monospace;
    font-size: x-large;
}
.caracteres{
    font-size:small;
    margin-left: 55%;
   
    color: grey;
}