<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-center">VeciRed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avisosTitlte"><h4 class="ion-text-center"><b>CREAR AVISO</b></h4></div>



  

</ion-content>
<ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/main/tabs/tab1">
        <ion-icon name="home"></ion-icon>
        
      </ion-tab-button>
  
      <ion-tab-button routerLink="/main/tabs/tab2">
        <ion-icon name="notifications"></ion-icon>
        
      </ion-tab-button>
  
      <ion-tab-button routerLink="/main/tabs/tab3">
        <ion-icon name="cart"></ion-icon>
        
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
