<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/votaciones"></ion-back-button>
    </ion-buttons>
  
    <ion-title class="ion-text-center">VeciRed</ion-title>
  
    <ion-buttons slot="end">   
      <ion-button disabled>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
      
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- TITULO -->
  <div class="titulo"><h4 class="ion-text-center"><b>ACUERDOS ANTERIORES</b></h4></div>

  <!-- Graficos -->
  <app-grafico></app-grafico> 
  <!-- <app-grafico [acuerdosComunidad] = "acuerdos"></app-grafico> -->




</ion-content>
