<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="volverAtras()">
      <ion-back-button defaultHref="/main/tabs/acuerdos"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      VeciRed
    </ion-title>

    <ion-buttons slot="end">   
      <ion-button disabled>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- TITULO -->
  <div class="titulo"><h4 class="ion-text-center"><b>CREAR ACUERDO</b></h4></div>

  <ion-list>
    <!-- ACUERDO TITULO -->
    <ion-item>
      <ion-label position="floating"><b>Título:</b></ion-label>
      <ion-input type="text" maxlength="30" [(ngModel)]="acuerdo.titulo"></ion-input>
    </ion-item>
    <span class="caracteres">{{ 30 - acuerdo.titulo.length }} caracteres restantes</span> 

    <!-- ACUERDO DÍA -->
    <ion-item>
      <ion-label position="floating"><b>Día:</b></ion-label>
      <ion-datetime display-format="DD/MMMM/YYYY" 
                    picker-format="DD/MMMM/YYYY"
                    month-names="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                    [min]="minTime"
                    max="2025-12-31" 
                    [(ngModel)]="acuerdo.fecha" 
                    doneText="Aceptar"
                    cancelText="Cancelar"></ion-datetime>
    </ion-item>

    <!-- ACUERDO HORA -->
    <ion-item>
      <ion-label position="floating"><b>Hora:</b></ion-label>
      <ion-datetime display-format="HH:mm" 
                    picker-format="HH mm"
                    [(ngModel)]="acuerdo.hora" 
                    doneText="Aceptar"
                    cancelText="Cancelar"></ion-datetime>
    </ion-item>

    <!-- ACUERDO DURACIÓN -->
    <ion-item>
      <ion-label position="floating"><b>Duración:</b></ion-label>
      <ion-input type="number" min="0" max="23" [(ngModel)]="acuerdo.duracion"></ion-input>
    </ion-item>

    <!-- ACUERDO DESCRIPCIÓN -->
    <ion-item>
      <ion-label position="floating"><b>Descripción:</b></ion-label>
      <ion-textarea maxlength="250" [(ngModel)]="acuerdo.descripcion"></ion-textarea>
    </ion-item>
    <span class="caracteres">{{ 250 - acuerdo.descripcion.length }} caracteres restantes</span> 

    <!-- ACUERDO OPCIONES -->
    <ion-item detail="true" (click)="mostrarOpciones()">
      <ion-label><b>Opciones</b></ion-label>
    </ion-item>

    <!-- <ion-row>
      <ion-col size="3" *ngFor="let image of tempImages">
        <ion-card>
          <img src="">
        </ion-card>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col size="6" offset="6">
        <ion-button expand="full"
                    shape="round">
          <ion-icon slot="start" name="images"></ion-icon>
          Galería
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-list>

  <ion-button  color="tertiary" 
               shape="round" 
               expand="full"
               (click)="crearAcuerdo()"
               [disabled]="acuerdo.titulo.length < 1 ||
                           acuerdo.descripcion.length < 1 ||
                           acuerdo.fecha == null ||
                           acuerdo.hora == null ||
                           acuerdo.duracion < 1 ||
                           (acuerdo.opciones | json) == '{}' ">
    Publicar
  </ion-button>

</ion-content>