<ion-app>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/main/tabs/acuerdos">
            <ion-icon name="megaphone-outline" slot="start"></ion-icon>
            Acuerdos
          </ion-item>
          <ion-item routerLink="/main/tabs/votaciones">
            <ion-icon name="megaphone-outline" slot="start"></ion-icon>
            Acuerdos - Votacion
          </ion-item>
          <ion-item (click)="logout()">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            Cerrar Sesion
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
