.titulo{
    
    margin-top: -3%;
    //background-color: yellow;
    font-family: monospace;
}

ion-fab{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .cabecera{
    --background: linear-gradient(135deg, #110A3B, #2f32a0);
}