.avisosTitlte
{
    margin-top: -3%;
    //background-color: yellow;
    font-family: monospace;
    font-size: medium;
}

.caracteres{
    font-size:small;
    margin-left: 55%;
   
    color: grey;
}
