<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/votaciones"></ion-back-button>
    </ion-buttons>
  
    <ion-title class="ion-text-center">VeciRed</ion-title>
  
    <ion-buttons slot="end">   
      <ion-button disabled>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
      
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid> 
    <ion-row>
      <ion-col size="12">
        <ion-item class="titulo">
          <ion-label class="ion-text-center subTitulo">Acuerdos</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="button">    
        <ion-button color="success">
          JJ Los Lirios
        </ion-button>    
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card  class="acuerdo">
    <ion-card-content>
      <ion-list style="background-color: #f4f5f8;">

        <ion-item [color]="buttonValue == 0 ? 'secondary' : 'light'" (click)="buttonValue = 0">
          <ion-label class="ion-text-center">{{this.votacion.opciones[0]['titulo']}}</ion-label>
        </ion-item>

        <ion-item [color]="buttonValue == 1 ? 'secondary' : 'light'" (click)="buttonValue = 1">
          <ion-label class="ion-text-center">{{this.votacion.opciones[1]['titulo']}}</ion-label>
        </ion-item>

        <ion-item [color]="buttonValue == 2 ? 'secondary' : 'light'" (click)="buttonValue = 2">
          <ion-label class="ion-text-center">{{this.votacion.opciones[2]['titulo']}}</ion-label>
        </ion-item>

        <ion-item [color]="buttonValue == 3 ? 'secondary' : 'light'" (click)="buttonValue = 3">
          <ion-label class="ion-text-center">{{this.votacion.opciones[3]['titulo']}}</ion-label>
        </ion-item>

      </ion-list>
         
    </ion-card-content>
  </ion-card>
      
  <ion-row>
   
    <ion-col size="6">
      <ion-button  color="tertiary"
                   expand="full"
                   shape="round"
                   (click)="mostrarInfo()">
        Info
      </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button  color="tertiary"
                   expand="full"
                   shape="round"
                   (click)="votar()"
                   [disabled]="buttonValue == -1">
        Votar
      </ion-button>
    </ion-col>
      
  </ion-row>

</ion-content>
