<ion-header [translucent]="true" >
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      VeciRed
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="add-outline">

      </ion-icon>

    </ion-buttons>
    
  </ion-toolbar>
  
  
</ion-header>

<ion-content class="avisosContenedor"[fullscreen]="true">
  <div class="avisosTitlte"><p class="ion-text-center">AVISOS</p>
  
  </div>
  <!--Agregamos avisos para mostrar aca los avisos publicados-->
  <app-avisos [avisos]='avisos'></app-avisos>

  


  
</ion-content>
